{% extends "base.html" %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<div class="container">
  <div class="col-md-4">
    <div class="box">
      <div class="box-body">
        <h4>Snacks Entry</h4>

          <table class="table table-hover table-bordered"  style="width:100%">
            <thead>
              <tr>
                <th style="white-space: nowrap;">Items</th>
                <th><input type="text" name="" id="items" autocomplete="off"></th>
                <th style="white-space: nowrap;">Rate</th>
                <th><input type="text" name="" id="rate" autocomplete="off"></th>
                <th><button class="btn btn-success" id="items_submit">Submit</button></th>
              </tr>
            </thead>
            </table>
        
       



        <table class="display nowrap" style="width:100%" id="staff_data">
          <thead>            
            <th>S.No</th>
            <th style="display: none;">ID</th>
            <th>Items</th> 
            <th>Rate</th> 
            <th></th>                 
          </thead>
          {% for x in items_list %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td class="id" style="display: none;">{{x.id}}</td>
            <td class="get_items">{{x.items}}</td>
            <td class="get_rate">{{x.rate|default_if_none:""}}</td>
            <td><BUTTON class="btn btn-primary btn-md edit" data-toggle="modal" data-target="#select_items_master" id="update_items_master">Edit</BUTTON></td>
            {% endfor %}
          </tr>
          
        </table>
      </div>  
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#items_submit').click(function(){
    var items = $('#items').val();
    var rate      = $('#rate').val();   
    $.ajax({
      url: '/snacks/submit_snack_list/',
      dataType: 'JSON',
      type: 'GET',
      data:
      {
        'items'  : items,
        'rate'   : rate,          
      },
      success : function(obj){  
      console.log(obj)        
        if(obj=='done'){
          alert('Successfully submitted')
          location.reload();
        }

         if (obj=='already'){
          alert('Successfully updated.')
          location.reload();
        }
      },
      error : function(err){
        
      }
    }); 
  })

$('.edit').click(function(){
  var id         = $(this).closest("tr").find(".id").text();
  var get_items  = $(this).closest("tr").find(".get_items").text();
  var get_rate   = $(this).closest("tr").find(".get_rate").text();    
  get_snack_list(id,get_items,get_rate);    
})


function get_snack_list(id,get_items,get_rate){
  $('#e_items').val(get_items);
  $('#e_rate').val(get_rate); 
  $('#e_id').val(id)
}

</script>



<style type="text/css">
  div.dataTables_wrapper {
        width: 900px;
        margin: 0 auto;
    }
</style>

<div id="select_items_master" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 136%;">
      <div class="modal-header">
        <h4 class="modal-title">UPDATE Items & Rate </h4>
        <div id="e_id"></div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon" style="width:30%">Items</span>
          <input type="text" class="form-control col-md-4" id="e_items"> 
        </div> 

        <div class="input-group">
          <span class="input-group-addon" style="width:30%">Rate </span>
          <input type="text" class="form-control col-md-4" id="e_rate">
        </div>

        <button class="btn btn-primary" id="get_update">UPDATE</button>

        <div class="modal-body">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="refresh" style="cursor: pointer">Close</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $('#get_update').click(function(){
    var e_items  = $('#e_items').val();
    var e_rate   = $('#e_rate').val();
    var e_id     = $('#e_id').val();   
    $.ajax({
        url: '/snacks/update_snacks_items/',
        dataType: 'JSON',
        type: 'GET',
        data:
        {
          'e_id'    : e_id,
          'e_items' : e_items,
          'e_rates' : e_rate,          
        },
        success : function(obj){          
          if(obj=='done'){
            alert('Successfully Updated')
            location.reload();
          }        
        },
        error : function(err){
          
        }
      }); 
    })
</script>

{% endblock %}